
/* Login */

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.1em;
    font-weight: 700;
}
.login {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../images/landing/landing-background.jpg) no-repeat right center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 50px 0;
}

/* About */

.about {
    padding-top: 50px;
}
.about-item {
    margin-bottom: 30px;
}
span.glyphicon-leaf {
    padding: 35px 0;
    font-size: 6.0em;
}
span.glyphicon-usd {
    padding: 35px 0;
    font-size: 6.0em;
}
span.glyphicon-thumbs-up {
    padding: 35px 0;
    font-size: 6.0em;
}
.feature-subtitles {
    padding-top: 20px;
}
.feature {
    padding: 40px 25px;
    padding-bottom: 0px;
}
.feature-icons {
    padding: 15px 0;
}

/* Contact Us*/

.contact {
    padding: 50px 0;
}
.contact-row {
    padding: 40px 0;
}
.contact-item {
    margin-bottom: 30px;
}
.teammate-description {
    text-align: left;
}
span.glyphicon-bullhorn {
    padding: 35px 0;
    font-size: 6.0em;
}
span.glyphicon-blackboard {
    padding: 35px 0;
    font-size: 6.0em;
}
span.glyphicon-cog {
    padding: 35px 0;
    font-size: 6.0em;
}
span.glyphicon-globe {
    padding: 35px 0;
    font-size: 6.0em;
}

nav .search-button, #nav-search {
    display: none;
}

/*modification*/
.back-to-top {
    position: fixed;
    z-index: 100;
    right: 30px;
    bottom: 20px;
    background-color: #c09f80;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 3.5em;
    text-align: center;
    cursor: pointer;
}

.back-to-top:hover {
    color: #d7cec7;
}

.main-container {
    padding: 100px 30px 0px 30px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #565656;
}

.login-panel {
    width: 100%;
    height: 82vh;
    border: none;

    background: url(../../images/landing/gifts.jpg) no-repeat right center;
    background-size: cover;
}

.panel-cover {
    height: 100%;
    width:  100%;
    display: table;
    table-layout: fixed;
    background-color: rgba(255, 255, 255, .3);
}

.panel-left {
    display: table-cell;
    vertical-align: top;
    float: none;
    height: 100%;
}

.panel-right {
    display: table-cell;
    vertical-align: top;
    float: none;
    height: 100%;
    width: 50%;
    padding: 20px 20px 20px 0px;
}

.panel-right h2 {
    color: #76323f;
    margin-top: 35vh;
    margin-bottom: 0px;
}

.panel-right p {
    color: #565656;
}

.panel-right .slogan {
    margin-bottom: 50px;
    font-size: 16px;
}

.panel-right .user-guide {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s;
}

.panel-right .user-guide:hover {
    color: #c09f80;
}

.panel-right .redirect-button {
    font-size: 15px;
    color: #fff;
    background-color: #c09f80;
    padding: 10px 15px;
    border-radius: 50px;
}

.panel-right .give-button {
    margin-left: 10px;
}

.panel-right a:hover {
    background-color: #d7cec7;
}

.login-panel img {
    width: 150px;
}

.help-panel {
    width: 100%;
    min-height: 85vh;
}

.what-panel {
    width: 100%;
    min-height: 85vh;
    border: none;
    background-color: #fffcfa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15%;
    text-align: center;
    margin-bottom: 20px;
}

.what-panel h2 {
    margin-bottom: 50px;
    color: #565656;
}

.what-panel .glyphicon {
    color: #c09f80;
}

.what-panel h4 {
    color: #565656;
}

.how-panel {
    width: 100%;
    min-height: 85vh;
    border: none;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.how-panel p {
    font-size: 14px;
}

.contact-panel {
    width: 100%;
    min-height: 85vh;
    border: none;
    background-color: #fffcfa;
    padding: 20px;
    text-align: center;
}

@media (min-width: 769px) {
    .main-container, footer {
        min-width: 1100px;
    }
}

@media (max-width: 767px) {
    .main-container {
        padding-top: 75px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .login-panel {
        height: 600px;
    }

    .contact-panel {
        padding: 20px 70px;
    }

    .contact-panel .teammate-description {
        text-align: center;
    }

    .panel-right {
        width: 50%;
    }

    .panel-right h2 {
        margin-top: 35vh;
    }

    .line-breaker {
        display: block!important;
    }

    .panel-right .redirect-button {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .panel-right {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .panel-right {
        width: 80%;
    }
}

@media (max-width: 359px) {
    .login-panel {
        height: 500px;
    }

    .panel-right {
        width: 85%;
    }

    .panel-right .redirect-button {
        font-size: 12px;
    }

    .panel-right h2 {
        margin-top: 30vh;
    }
}
