<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Metadata and Responsive Viewport -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>404 Not Found</title>

	<!-- Bootstrap Support -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Other Scripts -->
	<script src="../scripts/common/common.js"></script>
	<script src="../scripts/errors/404.js"></script>

	<!-- CSS Styles -->
	<link rel="stylesheet" href="../styles/common/common.css">
	<link rel="stylesheet" href="../styles/errors/404.css">
	<link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

	<!-- Font Support -->
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>


<body>

	<div align="center" text-align="center" style="padding-top:100px;">
		<img src="../images/errors/404.svg" width="320px" height="320px" />

		<h1>404 Error</h1>

		<p>
			Looks like you're lost. Return to the <a href="/">home page</a>.
		</p>
	</div>

	<div align="center" text-align="center">
		Icons made by
		<a href="http://www.freepik.com" title="Freepik">
				Freepik
			</a> from
		<a href="http://www.flaticon.com" title="Flaticon">
				www.flaticon.com
			</a> is licensed by
		<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
				CC 3.0 BY
			</a>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<!-- <hr class="xsall"> -->
				<ul class="col-xs-12 list-unstyled contact-list">
					<li>
						<span class="glyphicon glyphicon-phone-alt" id="phone-alt-icon" aria-hidden="true"></span> : (+65) 6123 4567
					</li>
					<li>
						<span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true"></span> : <a href="mailto:contact@giveforfree.com">contact@giveforfree.com</a>
					</li>
				</ul>

				<div class="col-xs-12 text-center">
					<small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>
