<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Something broke!</title>
	</head>
	<body>
		<h1>Something went wrong</h1>
		<p>Looks like something went wrong. Give us a moment to fix this. Return to the <a href="/">home page</a>.</p>
	</body>
</html>