<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Give For Free - 500 Server Error</title>

    <!-- JQuery Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap Support -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Material Elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
    <link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Native Scripts -->
    <script src="scripts/common/common.js"></script>
	<script src="scripts/errors/500.js"></script>

    <!-- Facebook Like -->
    <script src="/scripts/common/fblike.js"></script>

    <!-- Bootstrap CSS (override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Pure CSS (Override) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

    <!-- Font Awesome (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="styles/common/common.css">
	<link rel="stylesheet" href="styles/errors/500.css">


    <!-- Bootstrap Notifications -->
    <link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
    <script src="../scripts/common/notify.min.js"></script>

    <!-- Animation -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Google Analytics -->
    <script src="/scripts/common/analytics.js"></script>

</head>


<body>

	<div align="center" text-align="center" style="padding-top:100px;">

		<img src="../images/errors/404.svg" width="320px" height="320px" />

		<h1>500 Error</h1>

		<p>
			Looks like something broke. Will will try to fix it as soon as possible! Meanwhile, return to the <a href="/">home page</a>.
		</p>

	</div>

	<div align="center" text-align="center">
		Icons made by
		<a href="http://www.freepik.com" title="Freepik">
				Freepik
			</a> from
		<a href="http://www.flaticon.com" title="Flaticon">
				www.flaticon.com
			</a> is licensed by
		<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
				CC 3.0 BY
			</a>
	</div>

	<!-- Footer -->
    <footer>
        <div class="container footer-container">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <hr class="xsall">
                <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
                    <small><span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true">  </span>  <a href="mailto:giveforfreefeedback@gmail.com"> giveforfreefeedback[at]gmail[dot]com</a></small>
                    <br>
                    <small><span class="glyphicon glyphicon-eye-open" id="eye-icon" aria-hidden="true"></span>  <a href="/tnc"> Privacy Clause</a></small>
                </div>
                <div class="col-xs-12 text-center">
                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
