Friends:

<ul class="list-group">

    <% for(var i=0; i<friends.length; i++) {%>

       <li class="list-group-item"><a href="/profile/<%= friends[i].attributes.userID %>"><%= friends[i].attributes.name %></a></li>

    <% } %><br/>

</ul>


Back to <a href="/">home</a>.<br/>
<a href="/upload">Upload</a> an Item.<br/>
<a href="/logout">Logout</a>.
</p>
