<!DOCTYPE html>
<html lang="en">


<head>

	<!-- Metadata and Responsive Viewport -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="manifest" href="/manifest.json">

	<title>Give For Free - Meeting the needs of others</title>

	<!-- Bootstrap Support -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Codyhouse Navigation FAB Support -->
	<script src="/assets/codyhouse/js/main.js"></script>
	<script src="/assets/codyhouse/js/modernizr.js"></script>
	<link rel="stylesheet" href="/assets/codyhouse/css/reset.css">
	<link rel="stylesheet" href="/assets/codyhouse/css/style.css">

	<!-- Other Scripts -->
	<script>
		var loggedIn = <%= loggedIn %>;
	</script>
	<script src="/scripts/common/common.js"></script>
	<script src="/scripts/home/home.js"></script>
<<<<<<< HEAD
	<script src="/scripts/common/notification.js?v=1"></script>
	<script src="/servworker.js?v=2"></script>
=======
>>>>>>> production

	<!-- Bootstrap CSS (override) -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- CSS Styles -->
	<link rel="stylesheet" href="/styles/common/common.css">
	<link rel="stylesheet" href="/styles/home/home.css">

	<!-- Animation -->
	<link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

	<!-- Font Support -->
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- Google Analytics -->
	<script src="/scripts/common/analytics.js"></script>

</head>


<body>

	<!-- Navigation Bar -->
	<nav class="navbar navbar-default navbar-fixed-top">

		<div class="container-fluid">

			<!-- Left Header Icon -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img src="../images/common/logo-long.png" width="108px" height="36px" style="margin-top: -10px;" />
				</a>
			</div>

			<!-- Menu -->
			<div class="collapse navbar-collapse" id="nav-menu">

				<!-- User Actions Menu -->
				<ul class="nav navbar-nav navbar-right">
                    <% if (!loggedIn) { %>
                        <li id="nav-login"><a href="/login">Login</a></li>
                        <li id="nav-about"><a href="/login#about">About</a></li>
                        <li id="nav-contact"><a href="/login#contact">Contact Us</a></li>
                    <% } else { %>
                        <li id="nav-feed" class="active"><a href="/">Feed</a></li>
                        <li id="nav-profile"><a href="/profile/<%= id %>">Profile</a></li>
                        <li id="nav-logout"><a href="/logout">Logout</a></li>
                    <% } %>
				</ul>

			</div>

		</div>

	</nav>

	<!-- Navigation FAB -->
	<div class="container" align="center">

		<div id="cd-nav" class="is-fixed">
			<a class="cd-nav-trigger">Menu<span></span></a>

			<nav id="cd-main-nav" class="cd-main-nav">
				<ul class="has-transitions">
					<li class="active tab-create" id="tab-create"><a id="create-link">Create A Gift!</a></li>
				</ul>
			</nav>

		</div>

	</div>

	<!-- Scroll Container -->
	<div class="infinite-scroll-container col-xs-10 col-xs-offset-1 grid" id="infinite-scroll-container">
		<div class="row" id="infinite-scroll-row">
		</div>
	</div>

	<!-- Footer -->
	<footer>
        <div class="container">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <hr class="xsall">
                <ul class="col-xs-12 list-unstyled contact-list">
                    <li>
                        <span class="glyphicon glyphicon-phone-alt" id="phone-alt-icon" aria-hidden="true"></span> : (+65) 9223 4863
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true"></span> : <a href="mailto:contact@giveforfree.com">giveforfreefeedback@gmail.com</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-eye-open" id="eye-icon" aria-hidden="true"></span> : <a href="/privacy">Privacy Clause</a>
                    </li>
                </ul>

                <div class="col-xs-12 text-center">
                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
                </div>
            </div>
        </div>
    </footer>

</body>


</html>
