<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Give For Free - Meeting the needs of others</title>

    <!-- Bootstrap Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Other Scripts -->
    <script src="scripts/common/common.js"></script>
    <script src="scripts/landing/landing.js"></script>

    <!-- CSS Styles -->
    <link rel="stylesheet" href="styles/common/common.css">
    <link rel="stylesheet" href="styles/landing/landing.css">

    <!-- Animation -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>


<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <!-- Left Header Icon -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="../images/common/logo-long.png" width="108px" height="36px" style="margin-top: -10px;" />
                </a>            </div>

            <!-- Right Menu -->
            <div class="collapse navbar-collapse" id="nav-menu">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="nav-login"><a href="#login">Login</a></li>
                    <li id="nav-about"><a href="#about">About</a></li>
                    <li id="nav-contact"><a href="#contact">Contact Us</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- Section 1: Login -->
    <header id="login" class="login">
        <div class="text-vertical-center">
            <h1>Free stuff, take only.</h1>
            <h3>Do you have anything to give away today?</h3>
            <br>
            <a href="/login/facebook" class="btn btn-primary animated slideInUp"><h6>Login using Facebook</h6></a>
        </div>
    </header>

    <!-- Section 2: About -->
    <section id="about" class="about">
        <div class="container" id="about-container">
            <div class="row text-center">

                <!-- Introduction -->
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>What is Give For Free?</h2>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-4 col-sm-6">
                            <div class="about-item">
                                <span class="glyphicon glyphicon-gift" id="gift-icon" aria-hidden="true"></span>
                                <h6>
                                    <strong>Gifts in your social circle</strong>
                                </h6>
                                <p>
                                    One man's junk is another man's treasure! Help people on Facebook by looking for something you want!
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="about-item">
                                <span class="glyphicon glyphicon-user" id="friends-icon" aria-hidden="true"></span>
                                <h6>
                                    <strong>Make new friends</strong>
                                </h6>
                                <p>
                                    Why not befriend a helpful stranger? By either giving or receiving, you are helping another friend out.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="about-item">
                                <span class="glyphicon glyphicon-fire" id="karma-icon" aria-hidden="true"></span>
                                <h6>
                                    <strong>Gain good karma</strong>
                                </h6>
                                <p>
                                    Be recognised for your good deeds! Contribute to the community and clock karma points!
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Features -->
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Features</h2>
                    <hr class="small">

                    <div class="col-md-12" id="sub-first">

                        <div class="feature-subtitles">
                            <h5><strong>Gifting</strong></h5>
                        </div>

                        <div class="col-sm-4 feature">
                            <img class="feature-icons" id="feat-1" src="images/landing/upload-images.svg">
                            <h6>Upload Images</h6>
                            <p class="lead">Build an image gallery for your gift</p>
                        </div>

                        <div class="col-sm-4 feature">
                            <img class="feature-icons" id="feat-2" src="images/landing/controlled-visibility.svg">
                            <h6>Controlled Visibility</h6>
                            <p class="lead">Control who to view and snag your items</p>
                        </div>

                        <div class="col-sm-4 feature">
                            <img class="feature-icons " id="feat-3" src="images/landing/pick-lottery.svg">
                            <h6>Pick or Lottery</h6>
                            <p class="lead">Pick manually or draw winners randomly</p>
                        </div>

                    </div>

                    <div class="col-md-12" id="sub-second">

                        <div class="feature-subtitles">
                            <h5><strong>Snagging</strong></h5>
                        </div>

                        <div class="col-sm-4 feature">
                            <img class="feature-icons" id="feat-4" src="images/landing/curated-selection.svg">
                            <h6>Curated Selection</h6>
                            <p class="lead">Receive a curated gallery of freebies in the community</p>
                        </div>

                        <div class="col-sm-4 feature">
                            <img class="feature-icons" id="feat-5" src="images/landing/smart-recommendations.svg">
                            <h6>Smart Recommendations</h6>
                            <p class="lead">Get recommendations for items you are interested in</p>
                        </div>

                        <div class="col-sm-4 feature">
                            <img class="feature-icons" id="feat-6" src="images/landing/integrated-messaging.svg">
                            <h6>Integrated Messaging</h6>
                            <p class="lead">Native integration with Messenger to convey your gratitude</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- Section 3: Contact Us -->
    <section id="contact" class="contact">
        <div class="container" id="contact-container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Our Team</h2>
                    <hr class="small">
                    <div class="contact-row col-sm-12">

                        <div class="col-sm-6 contact-item">
                            <div class="col-sm-4">
                                <span class="glyphicon glyphicon-bullhorn" id="bullhorn-icon" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-8 teammate-description">
                                <h5> Ng Xu Jie </h5>
                                <p> Xu Jie is our team manager, marketeer and front-end developer. </p>
                            </div>
                        </div>

                        <div class="col-sm-6 contact-item">
                            <div class="col-sm-4">
                                <span class="glyphicon glyphicon-blackboard" id="blackboard-icon" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-8 teammate-description">
                                <h5> Huang Lie Jun </h5>
                                <p> Lie Jun is our UX/UI designer and front-end developer. </p>
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-12">

                        <div class="col-sm-6 contact-item">
                            <div class="col-sm-4">
                                <span class="glyphicon glyphicon-cog" id="cog-icon" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-8 teammate-description">
                                <h5> Ken Oung Yong Quan </h5>
                                <p> Ken is our back-end developer, managing our database and server APIs. </p>
                            </div>
                        </div>

                        <div class="col-sm-6 contact-item">
                            <div class="col-sm-4">
                                <span class="glyphicon glyphicon-globe" id="globe-icon" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-8 teammate-description">
                                <h5> Patrick Cho </h5>
                                <p> Patrick is our back-end developer, managing our database and server APIs. </p>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <hr class="xsall">
                <ul class="col-xs-12 list-unstyled contact-list">
                    <li>
                        <span class="glyphicon glyphicon-phone-alt" id="phone-alt-icon" aria-hidden="true"></span> : (+65) 9223 4863
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true"></span> : <a href="mailto:contact@giveforfree.com">giveforfreefeedback@gmail.com</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-eye-open" id="eye-icon" aria-hidden="true"></span> : <a href="/privacy">Privacy Clause</a>
                    </li>
                </ul>

                <div class="col-xs-12 text-center">
                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
                </div>
            </div>
        </div>
    </footer>

</body>


</html>
