<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:url" content="https://giveforfree.sg" />
    <meta property="og:description" content="Donate your pre-loved items or get others' pre-loved items. Either way, you're helping a charity!" />
    <meta property="og:image" content="https://giveforfree.sg/images/common/gff-logo-fb.png" />
    <meta property="og:title" content="Give For Free" />
    <meta property="og:site_name" content="Give For Free" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    

    <title>Give For Free</title>

    <!-- JQuery Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- sweet alert -->
    <script src="/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/sweetalert/sweetalert.css">

    <!-- Bootstrap Support -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Material Elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
    <link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Native Scripts -->
    <script src="scripts/common/common.js"></script>
    <script src="scripts/landing/landing.js"></script>

    <!-- Push Notifications -->
    <!-- <script src="/scripts/common/notification2.js"></script> -->

    <!-- Facebook Like -->
    <script src="/scripts/common/fblike.js"></script>

    <!-- Bootstrap CSS (override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Pure CSS (Override) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

    <!-- Font Awesome (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../styles/common/common.css">
    <link rel="stylesheet" href="../styles/landing/landing.css">
    <link rel="stylesheet" href="../styles/item/progress.css">

    <link rel="icon" type="image/png" href="/images/common/favicon.png">

    <!-- Bootstrap Notifications -->
    <link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
    <script src="../scripts/common/notify.min.js"></script>

    <!-- Animation -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Google Analytics -->
    <script src="/scripts/common/analytics.js"></script>

    <!-- Moment -->
    <script src="/scripts/common/moment.min.js"></script>

</head>

<body>

    <a class="back-to-top hidden" onclick="backToTop();">
        <i class="fa fa-caret-up" aria-hidden="true"></i>
    </a>

    <!-- Facebook Like -->
    <div id="fb-root"></div>

    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

        <!-- Navigation Bar -->
        <nav class="navbar navbar-fixed-top">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="/" class="navbar-logo">
                        <img src="../images/common/gff-logo.svg" class="logo-full" alt="" />
                        <img src="../images/common/gff-logo-s.svg" class="logo-mobile" alt="" />
                    </a>
                </div>

                <button type="button" class="navbar-toggle collapsed user-button" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- <button type="button" class="navbar-toggle collapsed category-button" aria-expanded="false">
                    <i class="fa fa-filter"></i>
                </button> -->
            </div>

            <div class="collapse navbar-collapse" id="nav-menu">

                <ul class="nav navbar-nav navbar-right">
                    <% if(loggedIn) { %>
                        <li id="nav-profile">
                            <a href="/profile/<%= id %>">
                                <div class="user-avatar">
                                    <img src="https://graph.facebook.com/<%= user.fbID %>/picture" alt="" />
                                    <span> <%= user.name %></span>
                                </div>
                            </a>
                        </li>
                        <li id="nav-create">
                            <a href="/upload">
                                <i class="fa fa-gift fa-fw" aria-hidden="true"></i> Give
                            </a>
                        </li>
                        <li id="nav-feed">
                            <a href="/feed">
                                <i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i> Feed
                            </a>
                        </li>
                        <% if (typeof notification != 'undefined') { %>
                            <!-- Notifications -->
                            <%- include('notification'); %>
                            <!-- End Notifications -->
                        <% } %>
                        <li id="nav-logout">
                            <a href="/logout">Log out</a>
                        </li>
                    <%  } else { %>
                        <li id="nav-feed">
                            <a href="/feed">
                                <i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i> Feed
                            </a>
                        </li>
                        <li id="nav-logout">
                            <a href="javascript:loginSpecial();">Log in</a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <!-- Menu -->

        </nav>

    <div class="main-container">
        <div class="panel login-panel">
            <div class="panel-cover">
                <div class="penel-left"></div>
                <div class="panel-right">
                    <h2>Give For Free</h2>
                    <p class="slogan">
                        Donate your pre-loved items <br>
                        or get others' pre-loved items. <br>
                        Either way, you're <b>helping a charity</b>!
                    </p>
                    <!-- TODO: link to different pages -->

                    <a href="/feed" class="redirect-button"><i class="fa fa-gift"></i> Browse gifts</a>
                    <% if (loggedIn) { %>
                        <a href="/upload" class="redirect-button give-button"><i class="fa fa-heart"></i> Donate gift</a>
                    <% } else { %>
                        <a href="/upload" class="redirect-button give-button btn-give-no-login"><i class="fa fa-heart"></i> Donate gift</a>
                    <% } %>
                    <a onclick='clickUserGuide();'><p class="user-guide">
                        First time user? Get some tips below <i class="fa fa-arrow-circle-o-down"></i>
                    </p></a>
                </div>
            </div>
        </div>

            <!-- Section 2: How it works -->
        <div class="panel howitworks-panel" id="how">

            <ul class="progress-indicator" style="margin:0 0 8em;">
                <li class="active how-progress">
                    <span class="bubble"></span>
                    <h6>How It Works</h6>
                </li>
                <li class="who-progress">
                    <span class="bubble"></span>
                    <h6>Who We Are</h6>
                </li>
                <li class="charity-progress">
                    <span class="bubble"></span>
                    <h6>Partner Charities</h6>
                </li>
                <li class="faq-progress">
                    <span class="bubble"></span>
                    <h6>Rules</h6>
                </li>
            </ul>

                <!-- Introduction -->
                <div class="row">
                    <div>
                        <img id="howitworksimg" src="/images/landing/howitworks-desktop.png" style="max-width:800px; width:100%;"></img>
                    </div>
                </div>
        </div>

        <!-- Section 3: Who We Are -->
        <div class="panel what-panel" id="who">

            <ul class="progress-indicator" style="margin:0 0 8em;">
                <li class="how-progress">
                    <span class="bubble"></span>
                    <h6>How It Works</h6>
                </li>
                <li class="active who-progress">
                    <span class="bubble"></span>
                    <h6>Who We Are</h6>
                </li>
                <li class="charity-progress">
                    <span class="bubble"></span>
                    <h6>Partner Charities</h6>
                </li>
                <li class="faq-progress">
                    <span class="bubble"></span>
                    <h6>Rules</h6>
                </li>
            </ul>

                <!-- Introduction -->
                <div class="row">

                    <p>Give For Free raises funds for your favorite charity - with a TWIST.</p><br>
                    <p>Instead of donating money, post your preloved items on our platform.</p><br>
                    <p>Anyone who 'buys' your items pays the money directly to your chosen charity.</p><br>
                    <p>You can shop for items here too. Simply donate to a charity to 'buy' the item.</p><br>
                    <p><b>Charities benefit. You benefit. The Environment benefits.</b></p>

                </div>
        </div>

        <!-- Section 4: Partner Charities -->
        <div class="panel what-panel" id="charity">

            <ul class="progress-indicator" style="margin:0 0 8em;">
                <li class="how-progress">
                    <span class="bubble"></span>
                    <h6>How It Works</h6>
                </li>
                <li class="who-progress">
                    <span class="bubble"></span>
                    <h6>Who We Are</h6>
                </li>
                <li class="active charity-progress">
                    <span class="bubble"></span>
                    <h6>Partner Charities</h6>
                </li>
                <li class="faq-progress">
                    <span class="bubble"></span>
                    <h6>Rules</h6>
                </li>
            </ul>

            <!-- Introduction -->
            <div class="row">

                <div class="contact-item">
                    <div class="col-sm-4">
                        <img src="/images/upload/charity1.png" style="width:100%; max-width:130px"/>
                        <!-- <span class="glyphicon glyphicon-bullhorn" id="bullhorn-icon" aria-hidden="true"></span> -->
                    </div>
                    <div class="col-sm-8 teammate-description">
                        <h3> SPCA </h3>
                        <p> The SPCA is a not-for-profit, community-based charity. We do not receive funding from the government and rely on public donations and other fundraising (such as merchandise sales) to assist with the operations of our animal shelter and clinic, support the work of our Inspectorate and animal rescue services, as well as other initiatives such as our foster care programme, sterilisation programme for community animals and education and outreach efforts.</p><br><br><br><br>
                    </div>
                </div>

                <div class="contact-item">
                    <div class="teammate-description">
                        <center>

                            <h3> More Charities Coming Soon! </h3>
                            <p> Can't find a charity you like? <a href="mailto:giveforfreefeedback@gmail.com"><i class="fa fa-envelope"></i> Email us</a>!</p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
                

        <!-- Section 5: FAQ -->
        <div class="panel what-panel" id="faq">

            <ul class="progress-indicator" style="margin:0 0 8em;">
                <li class="how-progress">
                    <span class="bubble"></span>
                    <h6>How It Works</h6>
                </li>
                <li class="who-progress">
                    <span class="bubble"></span>
                    <h6>Who We Are</h6>
                </li>
                <li class="charity-progress">
                    <span class="bubble"></span>
                    <h6>Partner Charities</h6>
                </li>
                <li class="active faq-progress">
                    <span class="bubble"></span>
                    <h6>Rules</h6>
                </li>
            </ul>

            <!-- Introduction -->
            <div class="row">

                <ol style="text-align:left">
                    <li>
                        For any grievances, please inform admin at giveforfreefeedback@gmail.com. Please do not post your grievances on the platform. This is to prevent members from debating and breaking the joy of giving.
                    </li>
                    <li>
                        All prices shown will be paid directly to the charity. Postage and handling fees, if any, should be specified separately in the item description.
                    </li>
                    <li>
                        No monetary exchange is allowed between members on Give For Free. If there is suspicion on price or request for cash on delivery, please inform admin.
                    </li>
                    <li>
                        No begging / pestering / touting / spamming members. Report any such activities to admin immediately.
                    </li>
                    <li>
                        Please donate promptly once a gift has been given to you. If the donation is not made within 24 hours, giver can inform admin to give the gift to someone else instead.
                    </li>
                    <li>
                        Similarly, please deliver gift promptly after donation has been made. 
                    </li>
                    <li>
                        Admin reserves the right to remove any items on the platform or ban members who do not follow these rules.
                    </li>
                </ol>
            </div>
        </div>

        <div class="panel contact-panel">
            <h2>Our Team</h2>
            <div class="row">

                <div class="col-sm-6 contact-item">
                    <div class="col-sm-4">
                        <img src="/images/home/xujie.gif" style="width:100%; max-width:130px"/>
                        <!-- <span class="glyphicon glyphicon-bullhorn" id="bullhorn-icon" aria-hidden="true"></span> -->
                    </div>
                    <div class="col-sm-8 teammate-description">
                        <h3> Ng Xu Jie </h3>
                        <p> Xu Jie is our team manager, marketeer and front-end developer. </p>
                    </div>
                </div>

                <div class="col-sm-6 contact-item">
                    <div class="col-sm-4">
                        <img src="/images/home/larry.gif" style="width:100%; max-width:130px"/>
                        <!-- <span class="glyphicon glyphicon-blackboard" id="blackboard-icon" aria-hidden="true"></span> -->
                    </div>
                    <div class="col-sm-8 teammate-description">
                        <h3> Huang Lie Jun </h3>
                        <p> Lie Jun is our UX/UI designer and front-end developer. </p>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-sm-6 contact-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/images/home/ken.gif" style="width:100%; max-width:130px"/>
                            <!-- <span class="glyphicon glyphicon-cog" id="cog-icon" aria-hidden="true"></span> -->
                        </div>
                        <div class="col-sm-8 teammate-description">
                            <h3> Ken Oung Yong Quan </h3>
                            <p> Ken is our back-end developer, managing our database and server APIs. </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 contact-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/images/home/pat.gif" style="width:100%; max-width:130px"/>
                            <!-- <span class="glyphicon glyphicon-globe" id="globe-icon" aria-hidden="true"></span> -->
                        </div>
                        <div class="col-sm-8 teammate-description">
                            <h3> Patrick Cho </h3>
                            <p> Patrick is our back-end developer, managing our database and server APIs. </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-6 contact-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/images/home/zhuohan.gif" style="width:100%; max-width:130px"/>
                            <!-- <span class="glyphicon glyphicon-cog" id="cog-icon" aria-hidden="true"></span> -->
                        </div>
                        <div class="col-sm-8 teammate-description">
                            <h3> Yang Zhuohan </h3>
                            <p> Yang Zhuohan is our front-end developer. His bootstrap skills are second to none. </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 contact-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/images/home/ten.gif" style="width:100%; max-width:130px"/>
                            <!-- <span class="glyphicon glyphicon-globe" id="globe-icon" aria-hidden="true"></span> -->
                        </div>
                        <div class="col-sm-8 teammate-description">
                            <h3> Ten Zhi-yang </h3>
                            <p> Ten Zhi-yang is our Paypal expert and External Relations Director. Top 2% (Rank 5) in hearthstone. </p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
                <small><a href="mailto:giveforfreefeedback@gmail.com"><i class="fa fa-envelope"></i> giveforfreefeedback@gmail.com</a></small>
                <br>
                <small><a href="/tnc"><i class="fa fa-eye"></i> Privacy Clause</a></small>
            </div>
            <div class="col-xs-12 text-center">
                <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
            </div>
        </div>
    </footer>
</body>


</html>
