<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Give For Free</title>

    <!-- JQuery Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap Support -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Material Elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
    <link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Native Scripts -->
    <script src="scripts/common/common.js"></script>
    <script src="scripts/landing/landing.js"></script>

    <!-- Push Notifications -->
    <!-- <script src="/scripts/common/notification2.js"></script> -->

    <!-- Facebook Like -->
    <script src="/scripts/common/fblike.js"></script>

    <!-- Bootstrap CSS (override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Pure CSS (Override) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

    <!-- Font Awesome (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../styles/common/common.css">
    <link rel="stylesheet" href="../styles/landing/landing.css">
    <link rel="stylesheet" href="../styles/item/progress.css">

    <link rel="icon" type="image/png" href="/images/common/favicon.png">

    <!-- Bootstrap Notifications -->
    <link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
    <script src="../scripts/common/notify.min.js"></script>

    <!-- Animation -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Google Analytics -->
    <script src="/scripts/common/analytics.js"></script>

    <!-- Moment -->
    <script src="/scripts/common/moment.min.js"></script>

</head>

<body>

    <a class="back-to-top hidden" onclick="backToTop();">
        <i class="fa fa-caret-up" aria-hidden="true"></i>
    </a>

    <!-- Facebook Like -->
    <div id="fb-root"></div>

    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!-- Navigation Bar -->
    <!-- Navigation Bar -->
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a class="navbar-logo">
                    <img src="../images/common/gff-logo.svg" class="logo-full" alt="" />
                    <img src="../images/common/gff-logo-s.svg" class="logo-mobile" alt="" />
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed user-button" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="nav-menu">
            <ul class="nav navbar-nav navbar-right">
                <li id="nav-feed">
                    <a href="/">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i> Feed
                    </a>
                </li>
                <li id="nav-logout">
                    <a href="javascript:loginSpecial();">Log in</a>
                </li>
            </ul>
        </div>
        <!-- Menu -->

    </nav>

    <div class="main-container">
        <div class="panel login-panel">
            <div class="panel-cover">
                <div class="penel-left"></div>
                <div class="panel-right">
                    <h2>Give For Free</h2>
                    <p class="slogan">
                        Give and receive pre-loved goods <br>
                        and <b>help a charity</b> along the way!
                    </p>
                    <!-- TODO: link to different pages -->
                    <a href="#" class="redirect-button"><i class="fa fa-gift"></i> Get a gift</a><br class="line-breaker" style="display:none;"><br class="line-breaker" style="display:none;"><br class="line-breaker" style="display:none;">
                    <a href="#" class="redirect-button give-button"><i class="fa fa-heart"></i> Donate a gift</a>
                    <a onclick='clickUserGuide();'><p class="user-guide">
                        Using it for the first time? Get some tips below <i class="fa fa-arrow-circle-o-down"></i>
                    </p></a>
                </div>
            </div>
        </div>

        <div class="panel help-panel">

        </div>

        <!-- Section 2: About -->
        <div class="penel what-panel">

            <ul class="progress-indicator">
                <li class="completed">
                    <span class="bubble"></span>
                    <h6>Want</h6>
                </li>
                <li class="completed">
                    <span class="bubble"></span>
                    <h6>Give</h6>
                </li>
                <li class="active">
                    <span class="bubble"></span>
                    <h6>Donate</h6>
                </li>
                <li>
                    <span class="bubble"></span>
                    <h6>Deliver</h6>
                </li>
            </ul>

                <!-- Introduction -->
                <h2>The Story of Give For Free</h2>
                <div class="row">

                    <p>Have any preloved goods that are too valuable to throw away but too much of a hassle to sell?</p>
                    <p>Simply give it away on Give For Free and help a charity that you care about in the process.</p>
                    <p>You can also find items that you need on Give For Free and donate to charity at the same time.</p>
                    <p><b>Charities benefit. Givers benefit. Receivers benefit. The Environment benefits.</p>

                </div>
        </div>

        <div class="panel contact-panel">
            <h2>Our Team</h2>
            <div class="row">

                <div class="col-sm-6 contact-item">
                    <div class="col-sm-4">
                        <img src="/images/home/xujie.gif" style="width:100%; max-width:130px"/>
                        <!-- <span class="glyphicon glyphicon-bullhorn" id="bullhorn-icon" aria-hidden="true"></span> -->
                    </div>
                    <div class="col-sm-8 teammate-description">
                        <h3> Ng Xu Jie </h3>
                        <p> Xu Jie is our team manager, marketeer and front-end developer. </p>
                    </div>
                </div>

                <div class="col-sm-6 contact-item">
                    <div class="col-sm-4">
                        <img src="/images/home/larry.gif" style="width:100%; max-width:130px"/>
                        <!-- <span class="glyphicon glyphicon-blackboard" id="blackboard-icon" aria-hidden="true"></span> -->
                    </div>
                    <div class="col-sm-8 teammate-description">
                        <h3> Huang Lie Jun </h3>
                        <p> Lie Jun is our UX/UI designer and front-end developer. </p>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-sm-6 contact-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/images/home/ken.gif" style="width:100%; max-width:130px"/>
                            <!-- <span class="glyphicon glyphicon-cog" id="cog-icon" aria-hidden="true"></span> -->
                        </div>
                        <div class="col-sm-8 teammate-description">
                            <h3> Ken Oung Yong Quan </h3>
                            <p> Ken is our back-end developer, managing our database and server APIs. </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 contact-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/images/home/pat.gif" style="width:100%; max-width:130px"/>
                            <!-- <span class="glyphicon glyphicon-globe" id="globe-icon" aria-hidden="true"></span> -->
                        </div>
                        <div class="col-sm-8 teammate-description">
                            <h3> Patrick Cho </h3>
                            <p> Patrick is our back-end developer, managing our database and server APIs. </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-6 contact-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/images/home/zhuohan.gif" style="width:100%; max-width:130px"/>
                            <!-- <span class="glyphicon glyphicon-cog" id="cog-icon" aria-hidden="true"></span> -->
                        </div>
                        <div class="col-sm-8 teammate-description">
                            <h3> Yang Zhuohan </h3>
                            <p> Yang Zhuohan is our front-end developer. His bootstrap skills are second to none. </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 contact-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/images/home/ten.gif" style="width:100%; max-width:130px"/>
                            <!-- <span class="glyphicon glyphicon-globe" id="globe-icon" aria-hidden="true"></span> -->
                        </div>
                        <div class="col-sm-8 teammate-description">
                            <h3> Ten Zhi-yang </h3>
                            <p> Ten Zhi-yang is our Paypal expert and External Relations Director. Top 2% (Rank 5) in hearthstone. </p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
                <small><a href="mailto:giveforfreefeedback@gmail.com"><i class="fa fa-envelope"></i> giveforfreefeedback@gmail.com</a></small>
                <br>
                <small><a href="/tnc"><i class="fa fa-eye"></i> Privacy Clause</a></small>
            </div>
            <div class="col-xs-12 text-center">
                <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
            </div>
        </div>
    </footer>
</body>


</html>
