<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <!-- Metadata and Responsive Viewport -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Give For Free</title>

        <!-- JQuery Support -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Bootstrap Support -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Material Elements -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
        <link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Native Scripts -->
        <script src="scripts/common/common.js"></script>
        <script src="scripts/prelaunch/prelaunch.js"></script>

        <!-- Push Notifications -->
        <!-- <script src="/scripts/common/notification2.js"></script> -->

        <!-- Facebook Like -->
        <script src="/scripts/common/fblike.js"></script>

        <!-- Bootstrap CSS (override) -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- Pure CSS (Override) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

        <!-- Font Awesome (Override) -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

        <!-- CSS Styles -->
        <link rel="stylesheet" href="../styles/common/common.css">
        <link rel="stylesheet" href="../styles/prelaunch/prelaunch.css">
        <!-- <link rel="stylesheet" href="../styles/item/progress.css"> -->

        <!-- Bootstrap Notifications -->
        <link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
        <script src="../scripts/common/notify.min.js"></script>

        <!-- Animation -->
        <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

        <!-- Font Support -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- Google Analytics -->
        <script src="/scripts/common/analytics.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-fixed-top">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a class="navbar-logo" onclick="clickLogo();">
                        <img src="../images/common/gff-logo.svg" class="logo-full" alt="" />
                        <img src="../images/common/gff-logo-s.svg" class="logo-mobile" alt="" />
                    </a>
                </div>
            </div>
        </nav>
        <div class="prelaunch-main-container">
            <div class="panel content-wrapper">
                <div class="content-img">
                    <div class="bg-cover">
                        <div class="left-part"></div>
                        <div class="right-part">
                            <div class="date-wrapper">
                                    <!-- TODO: implement timer here -->
                                <p class="days-left">5</p>
                                <p class="days-to-go">
                                    Days to go
                                </p>
                            </div>
                            <div class="title-wrapper">
                                <p class="title">
                                    Give For Free
                                </p>
                                <p class="sub-title">
                                    Raise funds <b>for charity</b> with <br>your pre-loved goods.
                                </p>
                                <p class="coming-soon">
                                    Coming Soon!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-notify">
                    <% if (!loggedIn) { %>
                        <p class="title">
                            Log in with Facebook to get notified when Give For Free is launched!
                        </p>
                        <a href="javascript:loginSpecial();"><i class="fa fa-facebook-square"></i> Facebook Login</a>
                    <% } else { %>
                        <p class="thank-you-msg ">
                            Thank you <%= user.name %>, we will inform you when Give For Free is launched!
                        </p>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>
