<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Give For Free</title>

    <!-- JQuery Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap Support -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Material Elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
    <link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Native Scripts -->
    <script src="scripts/common/common.js"></script>

    <!-- Push Notifications -->
    <!-- <script src="/scripts/common/notification2.js"></script> -->

    <!-- Facebook Like -->
    <script src="/scripts/common/fblike.js"></script>

    <!-- Bootstrap CSS (override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Pure CSS (Override) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

    <!-- Font Awesome (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="styles/common/common.css">

    <!-- Bootstrap Notifications -->
    <link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
    <script src="../scripts/common/notify.min.js"></script>

    <!-- Animation -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="icon" type="image/png" href="/images/common/favicon.png">

    <!-- Google Analytics -->
    <script src="/scripts/common/analytics.js"></script>

    <!-- Moment -->
    <script src="/scripts/common/moment.min.js"></script>

</head>

<body>

    <!-- Facebook Like -->
    <div id="fb-root"></div>

    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="/" class="navbar-logo">
                    <img src="../images/common/gff-logo.svg" class="logo-full" alt="" />
                    <img src="../images/common/gff-logo-s.svg" class="logo-mobile" alt="" />
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed user-button" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="nav-menu">

            <ul class="nav navbar-nav navbar-right">
                <li id="nav-feed">
                    <a href="/feed">
                        <i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i> Feed
                    </a>
                </li>
            </ul>
        </div>
        <!-- Menu -->

    </nav>

    <div class="privacy-container">
        <div class="panel" style="padding: 50px;">
            <h2 id="appendix---privacy-policy">Appendix - Privacy Policy</h2>

            <p>This Privacy Policy describes how users’ personal information is handled in order to engage in the services available on our application. It applies generally to web pages where this policy appears in the footer. By accepting the Privacy Policy,
                you express consent to our collection, storage, use and disclosure of your personal information as described in this Privacy Policy. This Privacy Policy is effective upon acceptance for new users and is otherwise effective on Monday, 8 August
                2016.</p>

            <h3 id="definitions">Definitions</h3>

            <ol>
                <li>
                    <p>References to “Our”, “We”, “Us” and <strong>"Give For Free"</strong> shall be references to <strong>Give For Free</strong></p>
                </li>
                <li>
                    <p>References to “You”, “Users” and “Your” shall mean references to user(s) visiting this web site, as the context requires.</p>
                </li>
            </ol>

            <h3 id="information-collection">Information Collection</h3>

            <p>Browsing our websites does not require your identities to be revealed. However, under the following circumstances, you are not anonymous to us.</p>

            <h3 id="user">User</h3>

            <p>We will ask for your personal information. The personal information collected includes but not restricting to the following:</p>

            <ol>
                <li>
                    <p>Private information such as name and birthdate</p>
                </li>
                <li>
                    <p>Contact information such as email address, mobile number and physical address</p>
                </li>
                <li>
                    <p>Additional information which we may ask for if we believe the site policies are violated</p>
                </li>
            </ol>

            <p>Once you log into the account, your identity will be revealed to us.</p>

            <h3 id="information-usage">Information Usage</h3>

            <p>The primary purpose in collecting personal information is to provide the users with a smooth and customized experience.</p>

            <p>We will use the information collected for the following purposes</p>

            <ol>
                <li>
                    <p>To provide its intended services</p>
                </li>
                <li>
                    <p>To resolve disputes, and troubleshoot problems and errors</p>
                </li>
                <li>
                    <p>To assist in law enforcement purposes and prevent/restrict the occurrences of potentially illegal or prohibited activities</p>
                </li>
            </ol>

            <h3 id="disclosure-of-information">Disclosure of information</h3>

            <p>We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when:</p>

            <ol>
                <li>
                    <p>Permitted or required by law; or,</p>
                </li>
                <li>
                    <p>Trying to protect against or prevent actual or potential fraud or unauthorized transactions; or,</p>
                </li>
                <li>
                    <p>Investigating fraud which has already taken place.</p>
                </li>
            </ol>

            <p>The information is not provided to these companies for marketing purposes.
            </p>

            <h3 id="charity-donation">Charity Donation</h3>

            <p>At Give For Free, we want the charities to benefit the most from each transaction. About 95% of your donations are passed straight to the charities paypal accounts directly. The fees for each transaction are as follows: 3.9% + $0.50 for PayPal, and 1.1% up to a cap of $1.00 to maintain Give For Free. </p>

            <h3 id="usage-of-cookies">Usage of Cookies</h3>

            <p>Cookies are small files placed in your computer hard drives. We use it to analyse our site traffic. We have also used cookies to maintain your signed in status when you login to our websites.</p>

            <h3 id="commitment-to-data-security">Commitment to Data Security</h3>

            <p>Your personally identifiable information is kept secure. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. All emails and newsletters from this site
                allow you to opt out of further mailings.</p>

            <h3 id="changes-to-the-policies">Changes to the Policies</h3>

            <p>We reserved the rights to amend this Privacy Policy at any time. Upon posting of new policies, it will take immediate effect. We may notify you should there be any major changes to the policies.</p>

            <hr />
            <p>
                <br />
            </p>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
                <small><a href="mailto:giveforfreefeedback@gmail.com"><i class="fa fa-envelope"></i> giveforfreefeedback@gmail.com</a></small>
                <br>
                <small><a href="/tnc"><i class="fa fa-eye"></i> Privacy Clause</a></small>
            </div>
            <div class="col-xs-12 text-center">
                <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
            </div>
        </div>
    </footer>


</body>

</html>
