<!DOCTYPE html>
<html>


<head>

    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Give For Free - Meeting the needs of others</title>

    <!-- Bootstrap Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Other Scripts -->
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/upload/upload.js"></script>

    <!-- Bootstrap CSS (Override) -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../styles/common/common.css">
    <link rel="stylesheet" href="../styles/upload/upload.css">

    <!-- Animations -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <!-- Left Header Icon -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="../images/common/logo-long.png" width="108px" height="36px" style="margin-top: -10px;" />
                </a>
            </div>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="nav-menu">

                <!-- User Actions Menu -->
                <ul class="nav navbar-nav navbar-right">
                    <li id="nav-feed"><a href="/">Feed</a></li>
                    <li id="nav-profile"><a href="/profile/<%= id %>">Profile</a></li>
                    <li id="nav-logout"><a href="/logout">Logout</a></li>
                </ul>

            </div>

        </div>
    </nav>

    <div class="container main-container">
        <h1>Create A Gift</h1>
        <br/>

        <!-- <form action="/upload" enctype="multipart/form-data" method="post">
            <% if (locals.error_messages) {
                error_messages.forEach(function(message) { %>
                <div class="alert alert-warning"><strong>Error: </strong>
                    <%= message %>
                </div>
                <% });
            } %>

                    <div class="form-group has-warning">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Enter the name of your object" required>

                    </div>
                    <div class="form-group has-warning">
                        <label>Description</label>
                        <input class="form-control" type="text" name="description" placeholder="Enter some description of your object" required>

                    </div>
                    <div class="form-group has-warning">
                        <label>Select an image to upload (less than 100kb):</label>
                        <input id="input-image-1" name="input-image" type="file" class="file-loading" accept="image/*" required>

                        <div id="kv-success-modal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Yippee!</h4>
                                    </div>
                                    <div id="kv-success-box" class="modal-body">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            $("#input-image-1").fileinput({
                                uploadUrl: "/upload",
                                allowedFileExtensions: ["jpg", "png", "gif"],
                                maxImageWidth: 200,
                                maxFileCount: 1,
                                resizeImage: true
                            }).on('filepreupload', function() {
                                $('#kv-success-box').html('');
                            }).on('fileuploaded', function(event, data) {
                                $('#kv-success-box').append(data.response.link);
                                $('#kv-success-modal').modal('show');
                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <label>Number of Days</label>
                        <select class="form-control" name="no_of_days">
                            <option value="7">7</option>
                            <option value="14">14</option>
                        </select>
                    </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="postToFacebook" value="1">
                    Post to Facebook?
                </label>
            </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
        </form> -->


        <form action="/upload" enctype="multipart/form-data" method="post">
            <% if (locals.error_messages) {
                error_messages.forEach(function(message) { %>
                <div class="alert alert-warning"><strong>Error: </strong>
                    <%= message %>
                </div>
                <% });
            } %>
                    <div class="form-group has-warning">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Enter the name of your object" maxlength="50" required>

                    </div>
                    <div class="form-group has-warning">
                        <label>Description</label>
                        <input class="form-control" type="text" name="description" placeholder="Enter some description of your object" maxlength="200" required>

                    </div>

                    <div class="form-group has-warning">

                        <label>Select an image to upload (less than 100kb):</label>

                        <!-- <input class="form-control-file" type="file" name="avatar" required> -->

                        <!-- image-preview-filename input [CUT FROM HERE]-->
                        <div class="input-group image-preview">
                            <input class="form-control image-preview-filename" type="text" name="input-file-preview" required>
                            <!-- don't give a name === doesn't send on POST/GET -->
                            <span class="input-group-btn">
                                <!-- image-preview-clear button -->
                                <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                    <span class="glyphicon glyphicon-remove"></span>
                            <span class="image-preview-input-title">Clear</span>

                            </button>
                            <!-- image-preview-input -->
                            <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" />
                                <!-- rename it -->
                            </div>
                            </span>
                        </div>
                        <!-- /input-group image-preview [TO HERE]-->

                    </div>

                    <div class="form-group">
                        <label>Number of Days</label>
                        <select class="form-control" name="no_of_days">
                            <option value="7">7</option>
                            <option value="14">14</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-lg btn-success btn-block raised bold-link">Create Gift!</button>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <hr class="xsall">
                <ul class="col-xs-12 list-unstyled contact-list">
                    <li>
                        <span class="glyphicon glyphicon-phone-alt" id="phone-alt-icon" aria-hidden="true"></span> : (+65) 6123 4567
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true"></span> : <a href="mailto:contact@giveforfree.com">contact@giveforfree.com</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-eye-open" id="eye-icon" aria-hidden="true"></span> : <a href="/privacy">Privacy Clause</a>
                    </li>
                </ul>

                <div class="col-xs-12 text-center">
                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
