<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Give For Free</title>

    <!-- JQuery Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Material Date Picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
    <script src="../assets/materialDatePicker/js/bootstrap-material-datetimepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
    <link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap Support -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Checkbox Styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css
    ">

    <!-- Native Scripts -->
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/upload/upload.js"></script>

    <!-- Push Notifications -->
    <!-- <script src="/scripts/common/notification2.js"></script> -->

    <!-- Image Upload EXIF -->
    <script src="../scripts/upload/exif.js"></script>

    <!-- Auto-Resize Input Fields -->
    <script src="../assets/autosize/js/autosize.js"></script>

    <!-- Bootstrap CSS (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Pure CSS (Override) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

    <!-- Font Awesome (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Cropper (Override) -->
    <script src="../scripts/upload/croppie.js"></script>
    <link rel="stylesheet" href="../styles/upload/croppie.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../styles/common/bootstrap-edit.css">
    <link rel="stylesheet" href="../styles/common/common.css">
    <link rel="stylesheet" href="../styles/upload/upload.css">

    <!-- Bootstrap Notifications -->
    <link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
    <script src="../scripts/common/notify.min.js"></script>

    <!-- Selectize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/css/selectize.default.min.css">
    <link rel="stylesheet" href="../styles/upload/selectize-mod.css">

    <!-- Animations -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Google Analytics -->
    <script src="/scripts/common/analytics.js"></script>

</head>

<body>

    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a class="navbar-logo">
                    <img src="../images/common/gff-logo.svg" class="logo-full" alt="" />
                    <img src="../images/common/gff-logo-s.svg" class="logo-mobile" alt="" />
                </a>
            </div>

            <!-- <button type="button" class="navbar-toggle collapsed category-button" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button> -->

            <button type="button" class="navbar-toggle collapsed user-button" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                <i class="fa fa-user"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="nav-menu">

            <ul class="nav navbar-nav navbar-right">
                <li id="nav-profile">
                    <a href="/profile/<%= id %>">
                        <div class="user-avatar">
                            <img src="../images/common/test-user.png" alt="" />
                            <% if (typeof notification != 'undefined' ) { %>
                                <span class="badge"><%= notification.length %></span>
                            <% } %>
                            <span> <%= user.name %></span>
                        </div>
                    </a>
                </li>
                <li id="nav-create">
                    <a href="/upload">
                        <i class="fa fa-gift" aria-hidden="true"></i> Give
                    </a>
                </li>
                <li id="nav-feed">
                    <a href="/">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i> Feed
                    </a>
                </li>
                <li id="nav-logout">
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </div>
        <!-- Menu -->

    </nav>

    <div class="main-container">
        <form action="/upload" method="post" id="new-gift-form" data-toggle="validator">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="croppedImage">

            <div class="row basic-info-card-group">
                <div class="col-md-4 col-sm-5 left-group">
                    <div class="panel photo-panel">
                        <div class="input-group image-preview">
                            <a class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-picture"></span>
                                <span>Browse</span>
                                <input type="file" onchange="previewFile()" accept="image/png, image/jpeg, image/gif" name="input-file-cropped" style="height: 100%;" id="upload-trigger" />
                            </a>
                        </div>
                        <div class="image-crop text-center" style="display: none;">
                            <div id="image" style="padding-bottom: 0; padding-top: 15px;"></div>
                            <div style="margin-bottom: 15px; margin-top: -5px;">
                                <a class="image-confirm btn btn-sm btn-success bold-link">Crop Image</a>
                            </div>
                        </div>
                        <a id="image-holder" onclick="triggerUpload()">
                            <div align="center" id="cropperHolder">
                                <img src="../images/common/empty-gift.svg" alt="" />
                                <h3> Click to upload an image </h3>
                                <p> Upload and crop an image of the item ... </p>
                            </div>
                        </a>
                        <!-- Post Image Preview -->
                        <div id="image" style="display: none;">
                        </div>
                        <div class="name-input-holder">
                            <input type="text" class="input-txt name-input" name="title" placeholder="Name of the item" maxlength="50" autocomplete="off" required>
                        </div>
                    </div>

                </div>
                <div class="col-md-8 col-sm-7 right-group">
                    <div class="panel description-panel">
                        <div class="description-input-holder">
                            <h2>Description</h2>
                            <p>
                                The size and measurements. <span class="no-description-alert hidden" style="color: #f05050;">You have to fill in the description.</span>
                                <!-- TODO: implement validation-->
                            </p>
                            <textarea type="text" class="input-txt description-field" name="description" placeholder="This item is..." autocomplete="off" data-trigger="focus" id="description-field" maxlength="200" required></textarea>
                        </div>
                        <div class="category-select-holder">
                            <h2>Category</h2>
                            <p>
                                Paste some tags on it. <span class="no-category-alert hidden" style="color: #f05050;">You have to choose at least one tag.</span>
                                <!-- TODO: implement validation-->
                            </p>
                            <select id="input-tags" name="categories[]" multiple class="categories has-options " style="width:70%" auto-complete: "off" placeholder="Select categories...">
                                <option value="">Select categories...</option>
                                <option value="clothes">clothes</option>
                                <option value="accessories">accessories</option>
                                <option value="furniture & home">furniture & home</option>
                                <option value="parenting">parenting</option>
                                <option value="health">health</option>
                                <option value="beauty">beauty</option>
                                <option value="kitchen appliances">kitchen appliances</option>
                                <option value="gardening">gardening</option>
                                <option value="property">property</option>
                                <option value="design & craft">design & craft</option>
                                <option value="electronics">electronics</option>
                                <option value="sports">sports</option>
                                <option value="photography">photography</option>
                                <option value="antiques">antiques</option>
                                <option value="toys">toys</option>
                                <option value="games">games</option>
                                <option value="music">music</option>
                                <option value="tickets & vouchers">tickets & vouchers</option>
                                <option value="auto accessories">auto accessories</option>
                                <option value="books">books</option>
                                <option value="stationeries">stationeries</option>
                                <option value="textbooks">textbooks</option>
                                <option value="notes">notes</option>
                                <option value="pets">pets</option>
                                <option value="other">other</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel more-info-panel row">
                <div class="step-photo-1 col-md-4 col-sm-5"></div>
                <div class="more-info-form col-md-8 col-sm-7">
                    <div class="date-info">
                        <h2>End Date</h2>
                        <p>
                            A deadline for giveaway. <span class="no-date-alert hidden" style="color: #f05050;">You have to select a deadline.</span>
                            <!-- TODO: implement validation-->
                        </p>
                        <input type="text" class="input-txt input-date" name="date" id="date" placeholder="Pick an end date..." maxlength="50" autocomplete="off" required>
                    </div>
                    <div class="delivery-info">
                        <h2>Delivery</h2>
                        <p>
                            The way the gift will be sent. <span class="no-delivery-alert hidden" style="color: #f05050;">You have to choose at least one way of deliverying.</span>
                            <!-- TODO: implement validation-->
                        </p>

                        <div class="checkbox checkbox-primary checkbox-circle row">
                            <input type="checkbox" name="meetup" id="meetup" class="check-one hidden">
                            <label class="large-label" for="meetup">
                                Meet and collect
                            </label><br>
                            <input type="checkbox" name="postage" id="postage" class="check-two hidden">
                            <label class="large-label" for="postage">
                                Postage service
                            </label>
                        </div>
                    </div>
                    <div class="share-info">
                        <h2>Share</h2>
                        <p>Let friends know the gift.</p>
                        <div class="checkbox checkbox-primary checkbox-circle row">
                            <input type="checkbox" id="share" name="postToFacebook" class="hidden">
                            <label class="large-label share-label" for="share" onclick="toggleShareColor();">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i> Share on Facebook
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel donation-info-panel row">
                <div class="step-photo-2 col-md-4 col-sm-5"></div>
                <div class="donation-info-form col-md-8 col-sm-7">
                    <div class="charity-info">
                        <h2>Charity</h2>
                        <p>
                            Gift receiver would donate money to
                        </p>
                        <div class="charity-selection">
                            <input type="radio" id="red-cross" name="donateToCharity" value="1" class="hidden">
                            <img src="../images/upload/cws-logo.png" alt="" class="covered" onclick="selectCharity(this);"/>
                            <input type="radio" id="cat-wel-society" name="donateToCharity" value="2" class="hidden">
                            <img src="../images/upload/red-cross-logo.png" alt="" class="covered" onclick="selectCharity(this);"/>
                        </div>
                    </div>
                    <div class="donation-info">
                        <h2>Donation Amount</h2>
                        <p>
                            Gift receiver would donate <span class="no-charity" style="color: #565656;">(you have not choose charity yet.)</span>
                        </p>
                        <div class="money-input">
                            <i class="fa fa-usd"></i><span> SGD</span>
                            <input type="number" min="1.00" step="0.01" class="input-txt donation-input" disabled name="donation" placeholder="1.00" maxlength="50" autocomplete="off" required>
                        </div>
                    </div>
                    <button type="submit" name="button" type="submit" class="btn btn-md">Create Gift</button>
                </div>
            </div>
        <!-- <div class="buttons">
            <a type="button" class="prev">previous step</a>
            <a type="button" class="next">next step</a>
        </div> -->
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
                <small><a href="mailto:giveforfreefeedback@gmail.com"><i class="fa fa-envelope"></i> giveforfreefeedback@gmail.com</a></small>
                <br>
                <small><a href="/privacy"><i class="fa fa-eye"></i> Privacy Clause</a></small>
            </div>
            <div class="col-xs-12 text-center">
                <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
            </div>
        </div>
    </footer>

</body>

</html>
