/* Main */


/* Navbar */

.navbar-right {
    padding-right: 20px;
    z-index: 99999;
}

/* Main Container */

.main-container {
    padding: 90px 30px 0px 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    margin-top: 20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left: 2px;
}

/* Text Input and Forms */

.input-txt {
    width: 100%;
    /*padding: 10px 10px;*/
    background: transparent;
    border: none;
    font-size: 1.25em;
    color: black;
    /*border-bottom: 1px solid rgba(250, 250, 250, 0.4);*/
    /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

/*.input-txt:-moz-placeholder {
color: #81aac9;
}
.input-txt:-ms-input-placeholder {
color: #81aac9;
}
.input-txt::-webkit-input-placeholder {
color: #81aac9;
}
.input-txt:focus {
background-color: #4478a0;
}*/

fieldset {
    border: 0px;
}
textarea {
    resize: none;
    border-bottom: none;
    display: block;
    overflow: hidden!important;
    max-height: 95px;
}
button {
    transition: all .5s;
}
.donation-info-form button:hover {
    background-color: #d7cec7!important;
    color: #fff!important;
}
:focus {
    outline: none;
}
.dropbtn {
    background-color: #5D92BA;
    color: white;
    /*padding: 16px;*/
    font-size: 16px;
    height: 60px;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(250, 250, 250, 0.4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
.dropbtn:-moz-placeholder {
    color: #81aac9;
}
.dropbtn:-ms-input-placeholder {
    color: #81aac9;
}
.dropbtn::-webkit-input-placeholder {
    color: #81aac9;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #4478a0;
}
#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 20px;
    padding: 10px;
    margin: 0 0;
    width: 100%;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9999;
}
.dropdown-content {
    display: none;
    /*position: absolute;*/
    background-color: #f6f6f6;
    /*min-width: 230px;*/
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    max-height: 200px;
}
.dropdown-content a {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.show {
    display: block;
}

/* Image Cropper */

img {
    max-width: 100%;
}
.list-group-item-heading {
    padding: 15px 0;
}
#image {
    margin-bottom: 22px;
}
.dtp-btn-cancel {
    background: #565656;
    box-shadow: none;
    margin: 0px 5px;
    color: white;
    font-weight: bold;
}
.dtp-btn-cancel:hover {
    background: #ddd;
    box-shadow: none;
    margin: 0px 5px;
    color: white;
    font-weight: bold;
}
.dtp-btn-ok {
    background: #c09f80;
    box-shadow: none;
    margin: 0px auto;
    color: white;
    font-weight: bold;
}
.dtp-btn-ok:hover {
    background: #d7cec7;
    box-shadow: none;
    margin: 0px auto;
    color: white;
    font-weight: bold;
}
.dtp-content button {
    transition: all .5s;
}
.large-label {
    font-size: 1.5em;
}
.bootstrap-switch.bootstrap-switch-focused, .bootstrap-switch.bootstrap-switch {
    outline: none;
    box-shadow: none;
    /*border: 2px;*/
}
.checkbox input[type="checkbox"]:focus+ label::before {
    outline: none;
}

.checkbox {
    padding-left: 25px!important;
}

.checkbox.checkbox-circle label::before {
    margin-top: 6px;
}

.checkbox-primary input[type="checkbox"]:checked+label::before, .checkbox-primary input[type="radio"]:checked+label::before {
    background-color: #c09f80;
    border: 1px #c09f80 solid;
}

.checkbox.checkbox-circle label::after {
    margin-top: 6px;
}

.check-two {
    margin: 0;
}
.title-panel {
    background: #EA5455;
}

/*modification*/

.basic-info-card-group {
    height: 84vh;
    border: none;
}

.basic-info-card-group .left-group {
    height: 100%;
}

.basic-info-card-group .right-group {
    height: 100%;
    padding-left: 0;
}

.description-panel {
    height: 100%;
    border: 0;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 10%;
}

.description-panel h2 {
    margin-top: 0;
    color: #76323f;
    margin-bottom: 0;
}

.description-panel p {
    color: #565656;
}

.photo-panel {
    height: 100%;
    border: 0;
}

.buttons {
    width: 100%;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.buttons a {
    font-size: 14px;
    background-color: #c09f80;
    color: #fff;
    font-weight: 300;
}

.buttons .prev {
    padding: 10px 10px 10px 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.buttons .next {
    padding: 10px 20px 10px 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.image-crop .cr-boundary {
    width: 100%!important;
}

.image-crop img {
    width: 100%;
    padding: 0!important;
    margin: 0!important;
}

.name-input {
    font-size: 20px;
    font-weight: 300;
    width: 50%;
    min-width: 200px;
}

.image-preview {
    display: none!important;
}

.image-control-buttons > a {
    font-weight: 300!important;
    background-color: #c09f80!important;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.8;
}

.image-control-buttons > a:hover {
    opacity: 1;
}

.description-input-holder {
    margin-top: 30px;
}

.category-select-holder {
    margin-top: 10px;
}

.description-input-holder p, .category-select-holder p {
    color: #565656;
}

.description-input-holder textarea {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

.category-select-holder select, option {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px!important;
    font-weight: 300;
    border-radius: 5px;
    border-color: #d3d3d3;
    min-width: 200px;
    padding: 2px;
    border-width: 0px;
}

#cropperHolder img {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
    opacity: .8;
}

#cropperHolder {
    color: #565656;
}


.more-info-panel, .donation-info-panel {
    border: none;
    height: 85vh;
    width: 100%;
    margin: 25px 0px;
    display: table;
    table-layout: fixed;
}

.step-photo-1 {
    display: table-cell;
    height: 100%;
    vertical-align: top;
    float: none;

    background: url(../../images/upload/step2.jpg) center center;
}

.step-photo-2 {
    display: table-cell;
    height: 100%;
    vertical-align: top;
    float: none;

    background: url(../../images/upload/step3.png) center center;
}

.more-info-form, .donation-info-form {
    display: table-cell;
    height: 100%;
    float: none;
    vertical-align: middle;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 0;
}

.more-info-wrapper {
    padding-left: 10%;
}

.donation-wrapper {
    padding-left: 10%;
}

.donation-wrapper .checkbox {
    margin-left: 10px;
}

.donation-wrapper .large-label {
    padding-left: 5px;
}

.more-info-form h2, .donation-info-form h2 {
    margin-top: 0;
    color: #76323f;
    margin-bottom: 0;
}

.more-info-form p, .more-info-form p {
    color: #565656;
}

.more-info-form .input-date {
    font-size: 2em;
    font-weight: 300;
    color: #565656!important;
}

.delivery-info {
    margin-top: 50px;
}

.delivery-info p {
    margin-bottom: 20px;
}

.delivery-info label {
    font-size: 2em;
    font-weight: 300;
    color: #565656;
    margin-left: 10px;
}

.share-info {
    margin-top: 60px;
}

.share-info label {
    font-size: 2em;
    font-weight: 300;
    color: #565656!important;
    margin-left: -15px;
}

.share-info .share-label .active {
    color: #3b5998;
}

.share-info i {
    color: #ddd;
    transition: all .5s;
}

.share-info .checkbox.checkbox-circle label::before {
    display: none;
}

.share-info .checkbox.checkbox-circle label::after {
    display: none;
}

.charity-selection img {
    height: 60px;
    transition: all .5s;
    margin: 0px 20px 10px 0px;
    cursor: pointer;
}

.covered {
    opacity: 0.4;
}

.donation-info {
    margin-top: 30px;
}

.donation-info {
    font-weight: 300;
    font-size: 2em;
    color: #565656;
}

.donation-info .money-input input {
    width: 180px;
    margin-left: 20px;
}

.donation-info-form button {
    margin-top: 40px;
    background-color: #c09f80;
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    bottom: 0;
}

@media (max-width: 767px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .donation-wrapper .row {
        margin-left: -15px;
    }

    .donation-wrapper .checkbox {
        margin-left: 10px;
    }

    .left-group, .right-group {
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .main-container {
        padding-top: 75px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .basic-info-card-group {
        height: auto;
    }

    .basic-info-card-group .right-group {
        padding-left: 15px;
        height: auto;
    }

    .more-info-panel, .donation-info-panel {
        height: auto;
    }

    .description-panel {
        margin-bottom: 0;
        min-height: 80vh;
    }

    .more-info-panel, .donation-info-panel, .more-info-form, .donation-info-form {
        display: block;
    }

    .step-photo-2, .step-photo-1 {
        display: none;
    }

    .cr-boundary {
        height: 300px!important;
    }

    .cr-vp-square {
        height: 280px!important;
        width: 280px!important;
    }
}

a#image-holder {
    cursor: pointer;
}

div#cropperHolder {
    opacity: 0.6;
}

div#cropperHolder:hover {
    opacity: 1;
}

.form-error {
    font-size: 12px;
}

[data-notify='container'] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px!important;
    font-weight: bold;
}

.give-free label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 300;
}


