/* Main */

html, body {
    width: 100%;
    height: 100%;
    /*background-color: #E8F1F5;*/
}
body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 150%;
}
h1 {
    font-size: 2.75em;
}
h2 {
    font-size: 2.50em;
}
h3 {
    font-size: 2.25em;
}
h4 {
    font-size: 2.00em;
}
h5 {
    font-size: 1.75em;
}
h6 {
    font-size: 1.50em;
}
p {
    font-size: 1.35em;
    font-weight: lighter;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.wrap {
    word-wrap: break-word;
}
.hide {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Buttons */

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #007299;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-success.raised {
    box-shadow: 0 3px 0 0 #008c52;
}
.btn-success.raised:active, .btn-success.raised.active {
    background: #008c52;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-info.raised {
    box-shadow: 0 3px 0 0 #35a2b5;
}
.btn-info.raised:active, .btn-info.raised.active {
    background: #35a2b5;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-warning.raised {
    box-shadow: 0 3px 0 0 #b87430;
}
.btn-warning.raised:active, .btn-warning.raised.active {
    background: #b87430;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-danger.raised {
    box-shadow: 0 3px 0 0 #bf4343;
}
.btn-danger.raised:active, .btn-danger.raised.active {
    background: #bf4343;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/* Button Sizing */

.btn-xs, .btn-group-xs> .btn {
    padding: 2px 6px;
}
.btn-sm, .btn-group-sm> .btn {
    padding: 8px 12px;
}
.btn-lg {
    padding: 20px 40px;
    border-radius: 4px;
}
.btn-xs.btn-default, .btn-xs.outline {
    padding: 0px 4px;
}
.btn-sm.btn-default, .btn-sm.outline {
    padding: 6px 10px;
}
.btn-lg.btn-default, .btn-lg.outline {
    padding: 18px 38px;
}
.bold-link {
    font-weight: bold;
}

/* Callouts */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/* Footer */

footer {
    background-color: white;
}
.contact-list {
    text-align: center;
}
.copyright {
    text-align: center;
    padding-bottom: 10px;
}
