/* Main Style */

html, body {
    width: 100%;
    height: 100%;
    /*background-image: url("https://www.transparenttextures.com/patterns/assault.png");*/
    /*background-color: #E8F1F5;*/
    background: #EEEEEE;
    background-image: url("/images/common/noise.png");

    -webkit-overflow-scrolling: touch !important;
    /*overflow: auto !important;*/
    height: 100% !important;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    position: absolute;
}
.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*h1 {
    font-size: 2.75em;
}
h2 {
    font-size: 2.50em;
}
h3 {
    font-size: 2.25em;
}
h4 {
    font-size: 2.00em;
}
h5 {
    font-size: 1.75em;
}
h6 {
    font-size: 1.50em;
}*/

p {
    /*font-size: 1.35em;*/
    font-weight: lighter;
}

a {
    transition: all 0.5s;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

/* Responsive Display */

.wrap {
    word-wrap: break-word;
}
.hide-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

/* Image Resizing */

img.clipped {
    /*width: 150%;*/
    /*float: left;
    float: right;*/
    width: 100%;
    /*height: 150%;*/
    float: left;
    float: right;

}
.thumbnail {
    overflow: hidden;
    position: relative;
}

.box {
    width: 100%;
    position: relative;
}

.box:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.box img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.dropdown-notifications li:hover {
    background-color: #fff!important;
    color: #f9f9f9!important;
}

.nav .open a, .nav .open a:focus, .nav .open a:hover {
    background-color: #fff!important;
}

.dropdown-menu {
    border: none;
    margin-top: 11px!important;
}

/* Buttons */

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #007299;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-success.raised {
    box-shadow: 0 3px 0 0 #008c52;
}
.btn-success.raised:active, .btn-success.raised.active {
    background: #008c52;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-info.raised {
    box-shadow: 0 3px 0 0 #35a2b5;
}
.btn-info.raised:active, .btn-info.raised.active {
    background: #35a2b5;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-warning.raised {
    box-shadow: 0 3px 0 0 #b87430;
}
.btn-warning.raised:active, .btn-warning.raised.active {
    background: #b87430;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-danger.raised {
    box-shadow: 0 3px 0 0 #bf4343;
}
.btn-danger.raised:active, .btn-danger.raised.active {
    background: #bf4343;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/* Button Sizing */

.btn-xs, .btn-group-xs> .btn {
    padding: 2px 6px;
}
.btn-sm, .btn-group-sm> .btn {
    padding: 8px 12px;
}
.btn-lg {
    padding: 20px 40px;
    border-radius: 4px;
}
.btn-xs.btn-default, .btn-xs.outline {
    padding: 0px 4px;
}
.btn-sm.btn-default, .btn-sm.outline {
    padding: 6px 10px;
}
.btn-lg.btn-default, .btn-lg.outline {
    padding: 18px 38px;
}
.bold-link {
    font-weight: bold;
}

/* Callouts */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/* Nav-bar */

.navbar-title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 8px;
    text-align: center;
    margin: 0 auto;
    z-index: -1;
}

.input-group input:focus {
    outline: none!important;
    box-shadow: none!important;
}

.navbar {
    /*height: 70px;*/
    padding: 10px;
    background-color: #fff;
    color: #58666e;
    box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
}

.navbar-right {
    margin-right: 0;
    padding-right: 20px;
}

.logo-full {
    display: block;
}

.logo-mobile {
    display: none;
}

.privacy-container {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 70px;
    padding: 30px;
    color: #565656;
}

.privacy-container #appendix---privacy-policy {
    color: #76323f;
}

.privacy-container h3 {
    color: #c09f80;
    font-weight: 300!important;
}

@media (max-width: 767px) {
    .dropdown-menu {
        border-top: 1px #eee solid!important;
        border-bottom: 1px #eee solid!important;
    }

    .navbar-fixed-top {
        padding: 0!important;
    }

    .navbar-brand {
        margin-top: 4px;
        margin-left: 4px;
    }

    .navbar-collapse .navbar-form{
        margin: 0;
        border: 0 none;
    }
    .navbar-form .form-group {
        float: left;
        min-width: 80%;
        margin-right: 10px;
    }

    .logo-full {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .privacy-container {
        margin-top: 70px;
        padding: 0px 10px;
    }

    .privacy-container .panel {
        padding: 30px!important;
    }
}
@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: inline-block!important;
        float: left;
    }

    #nav-menu {
        float: right;
    }
}

.navbar-header button i {
    font-size: 20px;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    height: 50px;
}

.navbar-collapse a {
    color: #111;
    font-size: 13px;
}

.navbar-collapse #nav-logout a {
    color: #98a6ad;
}

.navbar-collapse a:focus, .navbar-collapse a:hover {
    background: #fff!important;
    outline: none!important;
    color: #58666e!important;
}

.navbar-collapse .badge {
    position: relative;
    margin-left: -10px;
    padding: 2px 5px;
    top: -10px;

    font-family: 'Roboto', sans-serif;
    background-color: #f05050;
    border: 2px solid #fff;
}

.navbar-collapse img {
    width:25px;
    border-radius: 50px;
}

#nav-profile a {
    padding: 13px 10px!important;
}

.navbar-collapse .navbar-form {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left!important;
}

.navbar-search {
    border-radius: 50px;
    box-shadow: none;
    color: #58666e;
    background-color: #edf1f2;
    border: none;
    height: 30px;
}

.input-group-btn button {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 30px;
    padding: 5px 10px;
    background-color: #edf1f2;
}

.container-fluid {
    padding: 0;
}

@media(min-width: 768px) {
    .navbar-form {
        margin-left: 25px;
    }
}


/* Remove Blue Glow */


/*.simplebox {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}*/

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover {
    outline: 0px !important;
    /*-webkit-appearance: none;*/
}
.bootstrap-switch:hover, .bootstrap-switch:focus, .bootstrap-switch:active {
    outline: 0px !important;
    -webkit-appearance: none;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    outline: 0 none;
}

/* Footer */

footer {
    padding: 15px;
    position: absolute;
    background-color: #565656;
    width: 100%;
}

.footer-container a {
    color: #fff;
}

.footer-container i {
    color: #c09f80;
}

.contact-list {
    text-align: center;
}
.copyright {
    text-align: center;
    color: #d7cec7;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c09f80;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c09f80;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c09f80;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: #76323f;
    z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
    opacity: 0.5;
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    opacity: 0.5;
    right: 0;
}

/* Loaded styles */

.loaded #loader {
    opacity: 0;
}
.loaded #loader-wrapper {
    visibility: hidden;
}

.panel {
    transition: all 0.5s;
}

.avatar {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 80px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 80px;
    -moz-background-clip: padding;
    border-radius: 80px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
    background-size: cover;
    background-position: center center;
}

.avatar-badge {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 80px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 80px;
    -moz-background-clip: padding;
    border-radius: 80px;
    background-clip: padding-box;
    margin: 0px 0 0 0px;
    /*float: left;*/
    background-size: cover;
    background-position: center center;
}

.small-avatar {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 30px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 30px;
    -moz-background-clip: padding;
    border-radius: 30px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
    background-size: cover;
    background-position: center center;
}


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: auto; padding: 0; }

/****** Style Star Rating Widget *****/

.fixedrating {
    border: none;
    float: left;
}

.fixedrating > input { display: none; }
.fixedrating > label:before {
    margin: 5px;
    font-size: 1.5em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.fixedrating > .half:before {
    content: "\f089";
    position: absolute;
}

.fixedrating > label {
    color: #ddd;
    float: right;
}

.fixedrating > input:checked ~ label { color: #eac67a;  } , /* show gold star when clicked */

/****** Style Star Rating Widget *****/

fieldset, label { margin: auto; padding: 0; }

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 3px;
    font-size: 14px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
