/* Main */


.fab {
    position: fixed;
    bottom: 20px;
    right: 5%;
    border-radius: 0.25em;
    width: 44px;
    height: 44px;
    background: #337ab7;
    align-items: center;
}
.main-container {
    padding: 85px 30px 0px 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    margin-top: 35px;
}
/* Navbar */

.navbar-right {
    padding-right: 20px;
    z-index: 99999;
}

/* Create Gift Button */

.create-gift-button {
    font-size: 18px;
    z-index: 100;
    text-align: center;
}

/* Scroll Container */

.infinite-scroll-container {
    /*padding-top: 100px;*/
}

/* Thumbnail */

.item-header {
    font-size: 1.2em;
    font-weight: bold;
}
.item-author {
    font-size: 1.0em;
    font-weight: 50;
    /*color: black;*/
    /*font-style: italic;*/
}
.item-caption {
    font-size: 1.0em;
    text-align: justify;
    text-justify: inter-word;
    padding: 0 5px;
}
.item-call {
    font-weight: bold;
    align-content: center;
}
.call-button {
    padding: 10px 0;
    /*position: absolute;
    bottom: 0;
    right: 0;*/
}
.item-snags {
    font-size: 0.8em;
    text-align: right;
    padding-top: 10px;
}
.hide-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

/* MASONRY APPROACH #1 */


/**, *:before, *:after {
    box-sizing: border-box !important;
}
*/

/*.row {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}*/

.row {
    margin: 0;
}

.grid-item {
    display: inline-block;
    margin:  0.20rem;
    padding:  1rem;
    width: 100%;
}
.thumbnail {
    position: relative;
    display: block;
}

.title-panel {
    background: #B2E672;
}

.thumbnail:hover {
    background: #337ab7;
    color: white;
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
}
.thumbnail:hover .text-muted {
    color: white;
}

.thumbnail:hover a {
    color: white;
}

/* for modification */
.title-banner {
    display: table;
    height: 560px;
    border: none;
    width: 100%;
    background-color: #fffcfa;
    table-layout: fixed;
}

.title-content {
    padding: 20px 50px;
    float: none;
    display: table-cell;
    height: 100%;
    vertical-align: top;
    width: 350px;
}

.title-content h1 {
    font-weight: 300;
    margin-top: 50px;
    color: #76323f;
}

.title-content .sub-titles {
    margin-top: 0px;
}

.title-content .sub-title-first {
    color: #98a6ad;
    margin-bottom: 20px;
}

.title-content .sub-titles p {
    font-size: 16px;
    color: #565656;
    letter-spacing: 1px;
}

.title-content .sub-title-second {
    margin-top: 120px;
}

.title-content .sub-title-second a {
    color: #76323f!important;
    cursor: pointer;
}

.title-content .sub-title-second a:hover {
    color: #c97f90!important;
}

.give-button {
    background-color: #c09f80;
    padding: 10px 30px;
    border-radius: 50px;
    color: #fefbf8;
    font-size: 14px;
}

.give-button:hover {
    /*color: #565656;*/
    background-color: #d7cec7;
}

.title-content .sub-titles i {
    font-size: 16px;
    color: #76323f;
}

.title-img {
    float: none;
    height: 100%;
    margin-left: 350px;
    display: table-cell;
    fvertical-align: top;
}

.title-img .bg {
    height: 100%;
    width: 100%;
    background: url(../../images/home/gift2.jpg) center center;
    background-size: cover;
}

.floating-bar-full {
    padding-left: 0px;
    margin-right: -7.5px;
}

.floating-bar-full ::-webkit-scrollbar {
    display: none;
}

.floating-bar-full .category-bar a {
    padding: 8px 0px 8px 15px!important;
}

.floating-bar-mobile {
    display: none;
}

.category-bar {
    background-color: #c09f80;
    color: #565656;
    padding: 15px;
    height: 73vh;
    overflow: scroll;
    border-radius: 4px;
}

.category-bar i {
    color: #d7cec7;
    font-size: 16px;
}

.category-bar-item a:hover, .category-bar a:focus {
    background-color: transparent!important;
    outline: none!important;
    color: #565656 !important;
}

.category-bar-title {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 0px 10px;
    color: #fefbf8;
}

.category-bar-item {
    padding: 0px 5px;
    border-bottom: solid 1px #ccaa8d;
}

.category-bar-item a {
    color: #fff !important;
    font-weight: 300;
}

.placeholder {
    text-align: center;
    color: #565656;
}

.placeholder-img {
    width: 100px;
}

.gifts-banner {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items-display {
    border: 0;
}

.items-display .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.items-display .single-item {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.items-display .panel {
    border: 0px;
    background-color: #fff;
    font-weight: 300;
}

.items-display .panel:hover {
    background-color: #c09f80;
    font-size: #fff;
}

.items-display a {
    color: #565656!important;
}

.items-display a:hover {
    color: #fff!important;
}

.items-display .row img {
    width: 100%;
}

.items-display .item-info {
    padding: 10px 10px;
    height: 100px;
    text-align: left;
}

.items-display .item-info .row {
    margin: 0;
}

.items-display .seller-info img {
    border-radius: 50px;
    width: 25px;
    margin-right: 5px;
}

.items-display .seller-info span {
    font-size: 12px;
    cursor: pointer;
}

.items-display .addition-info {
    font-weight: 400;
    margin-top: 7px;
    font-size: 11px;
}

@media (max-width: 767px) {
    .main-container {
        padding-top: 77px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .title-banner {
        display: flex;
        flex-direction: column;
        height: 85vh;
    }

    .title-img {
        order: 1;
        margin-left: 0;
        height: 200px;
        display: block;
    }

    .title-content {
        order: 2;
        display: block;
        width: auto;
    }

    .title-content .sub-title-second {
        margin-top: 60px;
    }

    .floating-bar-full {
        display: none;
    }

    .floating-bar-mobile {
        font-family: 'Source Sans Pro', sans-serif;
        display: block;
        padding-left: 0px;
        position: fixed;
        width: 200px;
        height: 100%;
        right: -200px;
        top: 90px;
    }

    .floating-bar-mobile .category-bar {
        height: 85vh;
        max-height: none;
    }

    .floating-bar-mobile .category-bar a {
        padding-right: 0!important;
    }

    .main-container {
        transition: all .5s;
    }

    .floating-bar-mobile {
        transition: all .5s;
    }

    .sidebar-open {
        transform: translate3d(-200px,0,0);
    }

    .show-bar {
        right: 0;
    }
}

.me-want {
    color: #76323f;
}

.small-charity-logo {
    height: auto!important;
    width: auto!important;
    max-height: 20px!important;
}
